<div class="minfin-banner" {% if banner_url %}style="background-image: url({{ banner_url }})" {% endif %}>
  <div class="container">
    <div class="banner-content">
      <div class="banner-title">
        <h3>Direct naar:</h3>
      </div>
      <div class="banner-select">
        {{ select }}
      </div>
    </div>
  </div>
</div>

