<div id="beg-real" class="container">
  <div id="beg-real_header">
    <div id="beg-real_title"></div>
    <div id="beg-real_backButton" onclick="backButtonClicked()">
      <img src="/modules/custom/rijksfinancien_visuals/assets/begroting_vs_realisatie/img/back.png" />
      Terug naar totalen
    </div>
  </div>

  <div id="beg-real_charts">
    <!-- individual charts will be added here -->
  </div>
</div>
