<div class="suggestion" id="{{ id }}">
  {% if header %}
    <h3>{{ header }}</h3>
  {% endif %}
  <div class="link-wrapper">
    <span class="icon-arrow-right"></span>{{ link }}
  </div>
  <div class="search-badges">
    {{ badges }}
  </div>
</div>
