<header>
  <div class="container center">
    <a href="/" id="logo" itemprop="publisher" itemscope="" itemtype="http://schema.org/GovernmentOrganization">
      <img src="/themes/custom/indicia_theme/files/logo-rijksoverheid.svg" alt="Logo Rijksoverheid">
      <span itemprop="name">Ministerie van Financiën</span>
    </a>
  </div>
  <div class="menu-bar-wrapper">
    <div class="menu-bar"></div>
  </div>
  <div class="region region-header">
    <div id="block-banner-banner-5">
      <div class="field field--name-field-header-image-block-image field--type-image field--label-hidden field__item">
        <div class="header-image"></div>
      </div>
    </div>
  </div>
</header>

<main role="main" class="container page-content">
  <h1>Rijksfinancien.nl tijdelijk niet bereikbaar</h1>
  <p>Vanwege onderhoud is rijksfinancien.nl tijdelijk niet beschikbaar.<br />
    Probeer het over enkele minuten nog een keer.</p>
  <p>Onze excuses voor de overlast.</p>
</main>
