<div class="table-container">
  <div class="table-header">
    <span class="action-widen"><span class="icon-table icon-background"></span></span>
    <span class="action-popup"><span class="icon-fullscreen icon-background"></span></span>
  </div>
  <div class="responsive-wrapper">{{ table|raw }}</div>
</div>
