<div class="corona-visual-as-uitgaven-visual-block visual-block">
  <div class="container">
    <!-- layout -->
    <div class="container visual-container">
      <!-- layout -->
      <div id="container-full">
        <div id="container">
          <div id="chart_canvas_1"></div>
        </div>
        <div id="chart_canvas_1_navigation" class="chart_navigation">
          <div id="navigation_full"></div>
        </div>
        <div id="chart_canvas_1_legend"></div>
      </div>
    </div>
  </div>
</div>

