@font-face {
  font-family: 'rijksoverheid';
  src: url('fonts/ROsanswebtextregular.woff?utl1e4') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rijksoverheid';
  src: url('fonts/ROsanswebtextbold.woff?utl1e4') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rijksoverheid';
  src: url('fonts/ROsanswebtextitalic.woff?utl1e4') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'rijksoverheid-serif';
  src: url('fonts/RO-SerifWeb-Regular.woff?utl1e4') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rijksoverheid-serif';
  src: url('fonts/RO-SerifWeb-Italic.woff?utl1e4') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'rijksoverheid-serif';
  src: url('fonts/RO-SerifWeb-Bold.woff?utl1e4') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
