.form-item {
  margin-bottom: 30px;
}

.form-actions {
  margin-bottom: 30px;
}


select {
  padding-right: 15px;
  padding-left: 3px;
  background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=) no-repeat 95% 42%;
  background-size: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
