ul.minfin-chapter-list {
  list-style: none;

  li {
    a {
      text-decoration: none;

      span {
        margin-right: 10px;
        display: inline-block;
        min-width: 25px;
      }
    }
  }
}

