.block-rijksfinancien-visuals #bo_app,
.block-rijksfinancien-visuals #sbr_app {
  padding: 0;
}

.block-rijksfinancien-visuals .row {
  margin-bottom: 10px;
}

.block-rijksfinancien-visuals .detailButton {
  margin-left: 16px;
  padding: 6px 12px;
}
