<div class="beleidsevaluatie-visual-block">
  <div id="minfin-be-container">
    <div class="title-container">
      <div class="title">
        <div class="title-cell">
          <div>Evaluatiestelsel
            <nobr>en -instrumenten</nobr>
            <span>van de</span> beleidscyclus
          </div>
        </div>
      </div>
    </div>
    <div class="circle minfin-be-agenda" source="agenda">
      <h4>Agendering</h4>
      <svg id="icon-agenda" width="175px" viewBox="0 0 175 174" version="1.1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>agenda</title>
        <g id="agenda" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path
            d="M77.06944,61 C77.99968,61 78.11296,62.16544 78.2176,62.80384 C78.331,63.50044 78.373525,65.3065713 78.3902629,66.5247142 L78.39328,66.76 L78.4,66.76 L78.4,72.496 C78.4,72.496 78.6037312,72.57376 78.7179606,72.361864 L78.75232,72.28 L80.39488,66.76 L95.75296,66.76 C95.848,65.55616 96.01504,63.56032 96.136,62.81824 C96.2333137,62.2125305 96.4176496,61.1225981 97.2277388,61.0095463 L97.36864,61 L100.10944,61 C101.03968,61 101.15296,62.16544 101.2576,62.80384 C101.371,63.50044 101.413525,65.3065713 101.430263,66.5247142 L101.43328,66.76 L101.44,66.76 L101.44,72.496 C101.44,72.496 101.643731,72.57376 101.757961,72.361864 L101.79232,72.28 L103.43488,66.76 L110.08,66.76 C111.089371,66.76 111.917627,67.5393197 111.99422,68.5298996 L112,68.68 L112,107.08 C112,108.089371 111.21981,108.917627 110.229976,108.99422 L110.08,109 L65.92,109 C64.9097143,109 64.0822857,108.21981 64.0057739,107.229976 L64,107.08 L64,68.68 C64,67.6697143 64.7793197,66.8422857 65.7698996,66.7657739 L65.92,66.76 L72.71296,66.76 C72.808,65.55616 72.97504,63.56032 73.096,62.81824 C73.1933137,62.2125305 73.3776496,61.1225981 74.1877388,61.0095463 L74.32864,61 L77.06944,61 Z M107.2,79.24 L68.8,79.24 L68.8,104.2 L107.2,104.2 L107.2,79.24 Z M80.32,93.64 L80.32,99.4 L72.64,99.4 L72.64,93.64 L80.32,93.64 Z M103.36,93.64 L103.36,99.4 L95.68,99.4 L95.68,93.64 L103.36,93.64 Z M91.84,93.64 L91.84,99.4 L84.16,99.4 L84.16,93.64 L91.84,93.64 Z M80.32,84.04 L80.32,89.8 L72.64,89.8 L72.64,84.04 L80.32,84.04 Z M91.84,84.04 L91.84,89.8 L84.16,89.8 L84.16,84.04 L91.84,84.04 Z M103.36,84.04 L103.36,89.8 L95.68,89.8 L95.68,84.04 L103.36,84.04 Z"
            id="Combined-Shape" fill="#124175"></path>
        </g>
      </svg>
      <div id="agenda_container"></div>
    </div>
    <div class="circle minfin-be-bepaling" source="bepaling">
      <h4>Bepaling</h4>
      <svg id="icon-bepaling" viewBox="0 0 174 174" version="1.1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>bepaling</title>
        <g id="bepaling" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path
            d="M104.48,63 C105.54032,63 106.4,63.85968 106.4,64.92 L106.4,64.92 L106.4,109.08 C106.4,110.14032 105.54032,111 104.48,111 L104.48,111 L69.92,111 C68.863904,111 68,110.135616 68,109.08 L68,109.08 L68,79.155456 C68,78.645984 68.202464,78.157536 68.562464,77.797536 L68.562464,77.797536 L82.797536,63.562464 C83.157536,63.202464 83.645984,63 84.155456,63 L84.155456,63 Z M84.665504,64.790496 C84.560864,64.46352 84.32,64.568736 84.32,64.568736 L84.32,64.568736 L84.32,78.36 C84.32,78.890112 83.890112,79.32 83.36,79.32 L83.36,79.32 L69.567776,79.32 C69.567776,79.32 69.449984,79.560384 69.777536,79.665024 L69.777536,79.665024 L72.8,80.560128 L72.8,106.2 L101.6,106.2 L101.6,67.8 L85.55984,67.8 Z M81.44,97.56 L81.44,100.44 L76.64,100.44 L76.64,97.56 L81.44,97.56 Z M97.76,97.56 L97.76,100.44 L83.36,100.44 L83.36,97.56 L97.76,97.56 Z M97.76,91.8 L97.76,94.68 L83.36,94.68 L83.36,91.8 L97.76,91.8 Z M81.44,91.8 L81.44,94.68 L76.64,94.68 L76.64,91.8 L81.44,91.8 Z M97.76,86.04 L97.76,88.92 L83.36,88.92 L83.36,86.04 L97.76,86.04 Z M81.44,86.04 L81.44,88.92 L76.64,88.92 L76.64,86.04 L81.44,86.04 Z M97.76,76.44 L97.76,79.32 L88.16,79.32 L88.16,76.44 L97.76,76.44 Z"
            id="Combined-Shape" fill="#124175" fill-rule="nonzero"></path>
        </g>
      </svg>
      <div id="bepaling_container"></div>
    </div>
    <div class="circle minfin-be-voorbereiding" source="voorbereiding">
      <h4>Voorbereiding</h4>
      <svg id="icon-voorbereiding" viewBox="0 0 174 174" version="1.1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>voorbereiding</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path
            d="M87.8360395,65.0005509 C90.9140919,65.0110121 99.0153825,65.1051633 104.098604,65.9525233 C106.080428,66.2824753 107.586092,67.7871793 107.916236,69.7654513 C108.87038,75.4895473 108.87038,81.2095153 108.87038,86.9329393 L108.870216,87.3197303 C108.870162,87.3701184 108.870089,87.4229042 108.869992,87.4780151 L108.869071,87.8360003 C108.8586,90.9137914 108.764364,99.0137926 107.916236,104.100427 C107.586092,106.080427 106.080428,107.585035 104.098604,107.914987 C99.0153825,108.764225 90.9141677,108.858584 87.8360648,108.869069 L87.4780457,108.869991 C87.42293,108.870088 87.37014,108.870161 87.3197483,108.870215 L86.5464628,108.870215 C86.4961055,108.870161 86.4433492,108.870088 86.3882664,108.869991 L86.030435,108.869069 C82.9537565,108.858584 74.8520865,108.764225 69.7654519,107.914987 C67.7874679,107.585035 66.2817079,106.080427 65.9517559,104.100427 C65.1050785,99.0137926 65.0110033,90.9137914 65.0005505,87.8360003 L65.0005505,86.0303649 C65.0110033,82.9537179 65.1050785,74.8536219 65.9517559,69.7654513 C66.2817079,67.7871793 67.7874679,66.2825713 69.7654519,65.9525233 C74.8520865,65.1051633 82.9537565,65.0110121 86.030435,65.0005509 Z M87.7850359,71.2780273 L85.9402999,71.2780273 C85.4828599,71.2780273 84.9610999,71.6219953 84.7807159,72.0422833 L84.7807159,72.0422833 L83.5519159,74.8028593 C83.3922679,75.2314993 82.9149559,75.7232113 82.4912119,75.8954353 L82.4912119,75.8954353 L82.0839799,76.0610353 C81.6603319,76.2334513 80.9691319,76.2281713 80.5481719,76.0493233 L80.5481719,76.0493233 L77.5983799,74.9896753 C77.1698359,74.8299313 76.5515959,74.9609713 76.2247159,75.2809393 L76.2247159,75.2809393 L74.9292919,76.5486193 C74.6024119,76.8683953 74.4789559,77.4755953 74.6551159,77.8977073 L74.6551159,77.8977073 L75.7795639,80.6983153 C75.9758839,81.1114033 75.9915319,81.7944433 75.8141239,82.2159793 L75.8141239,82.2159793 L75.6526519,82.5998833 C75.4753399,83.0215153 74.9810359,83.5009393 74.5542199,83.6652913 L74.5542199,83.6652913 L71.7067639,84.9512113 C71.2876279,85.1344753 70.9448119,85.6586353 70.9448119,86.1160753 L70.9448119,86.1160753 L70.9448119,87.8915953 C70.9448119,88.3489393 71.2909879,88.8655153 71.7139639,89.0393713 L71.7139639,89.0393713 L74.5582519,90.2514673 C74.9890999,90.4050673 75.4871479,90.8755633 75.6649399,91.2970033 L75.6649399,91.2970033 L75.8245879,91.6753393 C76.0022839,92.0968753 75.9962359,92.7837553 75.8109559,93.2019313 L75.8109559,93.2019313 L74.7361399,96.0634993 C74.5700599,96.4897393 74.7016759,97.1001073 75.0286519,97.4198833 L75.0286519,97.4198833 L76.3278199,98.6907313 C76.6547959,99.0105073 77.2696759,99.1328113 77.6941879,98.9626033 L77.6941879,98.9626033 L80.5738039,97.8494833 C80.9899639,97.6595953 81.6772279,97.6447153 82.1011639,97.8163633 L82.1011639,97.8163633 L82.5169399,97.9846513 C82.9408759,98.1562993 83.4274999,98.6439793 83.5982839,99.0682033 L83.5982839,99.0682033 L84.9082039,101.830891 C85.0988599,102.246667 85.6290679,102.586891 86.0864119,102.586891 L86.0864119,102.586891 L87.9311479,102.586891 C88.3884919,102.586891 88.9102519,102.242923 89.0902519,101.822347 L89.0902519,101.822347 L90.3164599,99.0622513 C90.4757239,98.6335153 90.9531319,98.1424753 91.3771639,97.9710193 L91.3771639,97.9710193 L91.7943799,97.8023473 C92.2184119,97.6308913 92.9098039,97.6372273 93.3305719,97.8162673 L93.3305719,97.8162673 L96.2716279,98.8781233 C96.6998839,99.0385393 97.3179319,98.9081713 97.6450039,98.5883953 L97.6450039,98.5883953 L98.9419639,97.3203313 C99.2690359,97.0005553 99.3922999,96.3936433 99.2158519,95.9716273 L99.2158519,95.9716273 L98.0889079,93.1705393 C97.8920119,92.7576433 97.8756919,92.0746993 98.0524279,91.6527793 L98.0524279,91.6527793 L98.2122679,91.2715633 C98.3890999,90.8497393 98.8827319,90.3698353 99.3094519,90.2051953 L99.3094519,90.2051953 L102.16334,88.9120753 C102.582188,88.7282353 102.924908,88.2036913 102.924908,87.7463473 L102.924908,87.7463473 L102.924908,85.9756273 C102.924908,85.5181873 102.578732,85.0019953 102.155564,84.8284273 L102.155564,84.8284273 L99.3135799,83.6203633 C98.8826359,83.4671473 98.3849719,82.9968433 98.2076599,82.5752113 L98.2076599,82.5752113 L98.0458999,82.1904433 C97.8687799,81.7688113 97.8754039,81.0817393 98.0608759,80.6636593 L98.0608759,80.6636593 L99.1324279,77.8001713 C99.2981239,77.3739313 99.1660279,76.7635633 98.8389559,76.4437873 L98.8389559,76.4437873 L97.5439159,75.1781233 C97.2167479,74.8584433 96.6016759,74.7358513 96.1770679,74.9059633 L96.1770679,74.9059633 L93.2938999,76.0174513 C92.8778359,76.2075313 92.1905719,76.2226993 91.7665399,76.0511473 L91.7665399,76.0511473 L91.3526839,75.8836273 C90.9285559,75.7121713 90.4419319,75.2245873 90.2711479,74.8002673 L90.2711479,74.8002673 L88.9627639,72.0341233 C88.7723959,71.6183473 88.2424759,71.2780273 87.7850359,71.2780273 L87.7850359,71.2780273 Z M86.9352439,81.9181873 C89.7669536,81.9181873 92.0625079,84.163755 92.0625079,86.9338033 C92.0625079,89.7038515 89.7669536,91.9494193 86.9352439,91.9494193 C84.1035341,91.9494193 81.8079799,89.7038515 81.8079799,86.9338033 C81.8079799,84.163755 84.1035341,81.9181873 86.9352439,81.9181873 Z"
            id="Combined-Shape" fill="#124175" fill-rule="nonzero"></path>
        </g>
      </svg>
      <div id="voorbereiding_container"></div>
    </div>
    <div class="circle minfin-be-uitvoering" source="uitvoering">
      <h4>Uitvoering</h4>
      <svg id="icon-uitvoering" viewBox="0 0 174 174" version="1.1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>uitvoering</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path
            d="M87.8360395,65.0005509 C90.9140919,65.0110121 99.0153825,65.1051633 104.098604,65.9525233 C106.080428,66.2824753 107.586092,67.7871793 107.916236,69.7654513 C108.87038,75.4895473 108.87038,81.2095153 108.87038,86.9329393 L108.870216,87.3197303 C108.870162,87.3701184 108.870089,87.4229042 108.869992,87.4780151 L108.869071,87.8360003 C108.8586,90.9137914 108.764364,99.0137926 107.916236,104.100427 C107.586092,106.080427 106.080428,107.585035 104.098604,107.914987 C99.0153825,108.764225 90.9141677,108.858584 87.8360648,108.869069 L87.4780457,108.869991 C87.42293,108.870088 87.37014,108.870161 87.3197483,108.870215 L86.5464628,108.870215 C86.4961055,108.870161 86.4433492,108.870088 86.3882664,108.869991 L86.030435,108.869069 C82.9537565,108.858584 74.8520865,108.764225 69.7654519,107.914987 C67.7874679,107.585035 66.2817079,106.080427 65.9517559,104.100427 C65.1050785,99.0137926 65.0110033,90.9137914 65.0005505,87.8360003 L65.0005505,86.0303649 C65.0110033,82.9537179 65.1050785,74.8536219 65.9517559,69.7654513 C66.2817079,67.7871793 67.7874679,66.2825713 69.7654519,65.9525233 C74.8520865,65.1051633 82.9537565,65.0110121 86.030435,65.0005509 Z M87.7850359,71.2780273 L85.9402999,71.2780273 C85.4828599,71.2780273 84.9610999,71.6219953 84.7807159,72.0422833 L84.7807159,72.0422833 L83.5519159,74.8028593 C83.3922679,75.2314993 82.9149559,75.7232113 82.4912119,75.8954353 L82.4912119,75.8954353 L82.0839799,76.0610353 C81.6603319,76.2334513 80.9691319,76.2281713 80.5481719,76.0493233 L80.5481719,76.0493233 L77.5983799,74.9896753 C77.1698359,74.8299313 76.5515959,74.9609713 76.2247159,75.2809393 L76.2247159,75.2809393 L74.9292919,76.5486193 C74.6024119,76.8683953 74.4789559,77.4755953 74.6551159,77.8977073 L74.6551159,77.8977073 L75.7795639,80.6983153 C75.9758839,81.1114033 75.9915319,81.7944433 75.8141239,82.2159793 L75.8141239,82.2159793 L75.6526519,82.5998833 C75.4753399,83.0215153 74.9810359,83.5009393 74.5542199,83.6652913 L74.5542199,83.6652913 L71.7067639,84.9512113 C71.2876279,85.1344753 70.9448119,85.6586353 70.9448119,86.1160753 L70.9448119,86.1160753 L70.9448119,87.8915953 C70.9448119,88.3489393 71.2909879,88.8655153 71.7139639,89.0393713 L71.7139639,89.0393713 L74.5582519,90.2514673 C74.9890999,90.4050673 75.4871479,90.8755633 75.6649399,91.2970033 L75.6649399,91.2970033 L75.8245879,91.6753393 C76.0022839,92.0968753 75.9962359,92.7837553 75.8109559,93.2019313 L75.8109559,93.2019313 L74.7361399,96.0634993 C74.5700599,96.4897393 74.7016759,97.1001073 75.0286519,97.4198833 L75.0286519,97.4198833 L76.3278199,98.6907313 C76.6547959,99.0105073 77.2696759,99.1328113 77.6941879,98.9626033 L77.6941879,98.9626033 L80.5738039,97.8494833 C80.9899639,97.6595953 81.6772279,97.6447153 82.1011639,97.8163633 L82.1011639,97.8163633 L82.5169399,97.9846513 C82.9408759,98.1562993 83.4274999,98.6439793 83.5982839,99.0682033 L83.5982839,99.0682033 L84.9082039,101.830891 C85.0988599,102.246667 85.6290679,102.586891 86.0864119,102.586891 L86.0864119,102.586891 L87.9311479,102.586891 C88.3884919,102.586891 88.9102519,102.242923 89.0902519,101.822347 L89.0902519,101.822347 L90.3164599,99.0622513 C90.4757239,98.6335153 90.9531319,98.1424753 91.3771639,97.9710193 L91.3771639,97.9710193 L91.7943799,97.8023473 C92.2184119,97.6308913 92.9098039,97.6372273 93.3305719,97.8162673 L93.3305719,97.8162673 L96.2716279,98.8781233 C96.6998839,99.0385393 97.3179319,98.9081713 97.6450039,98.5883953 L97.6450039,98.5883953 L98.9419639,97.3203313 C99.2690359,97.0005553 99.3922999,96.3936433 99.2158519,95.9716273 L99.2158519,95.9716273 L98.0889079,93.1705393 C97.8920119,92.7576433 97.8756919,92.0746993 98.0524279,91.6527793 L98.0524279,91.6527793 L98.2122679,91.2715633 C98.3890999,90.8497393 98.8827319,90.3698353 99.3094519,90.2051953 L99.3094519,90.2051953 L102.16334,88.9120753 C102.582188,88.7282353 102.924908,88.2036913 102.924908,87.7463473 L102.924908,87.7463473 L102.924908,85.9756273 C102.924908,85.5181873 102.578732,85.0019953 102.155564,84.8284273 L102.155564,84.8284273 L99.3135799,83.6203633 C98.8826359,83.4671473 98.3849719,82.9968433 98.2076599,82.5752113 L98.2076599,82.5752113 L98.0458999,82.1904433 C97.8687799,81.7688113 97.8754039,81.0817393 98.0608759,80.6636593 L98.0608759,80.6636593 L99.1324279,77.8001713 C99.2981239,77.3739313 99.1660279,76.7635633 98.8389559,76.4437873 L98.8389559,76.4437873 L97.5439159,75.1781233 C97.2167479,74.8584433 96.6016759,74.7358513 96.1770679,74.9059633 L96.1770679,74.9059633 L93.2938999,76.0174513 C92.8778359,76.2075313 92.1905719,76.2226993 91.7665399,76.0511473 L91.7665399,76.0511473 L91.3526839,75.8836273 C90.9285559,75.7121713 90.4419319,75.2245873 90.2711479,74.8002673 L90.2711479,74.8002673 L88.9627639,72.0341233 C88.7723959,71.6183473 88.2424759,71.2780273 87.7850359,71.2780273 L87.7850359,71.2780273 Z M86.9352439,81.9181873 C89.7669536,81.9181873 92.0625079,84.163755 92.0625079,86.9338033 C92.0625079,89.7038515 89.7669536,91.9494193 86.9352439,91.9494193 C84.1035341,91.9494193 81.8079799,89.7038515 81.8079799,86.9338033 C81.8079799,84.163755 84.1035341,81.9181873 86.9352439,81.9181873 Z"
            id="Combined-Shape" fill="#124175" fill-rule="nonzero"></path>
        </g>
      </svg>
      <div id="uitvoering_container"></div>
    </div>
    <div class="circle minfin-be-terugkoppeling" source="terugkoppeling">
      <h4>Terugkoppeling</h4>
      <svg id="icon-terugkoppeling" viewBox="0 0 174 174" version="1.1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>terugkoppeling</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path
            d="M87.8360395,65.0005509 C90.9140919,65.0110121 99.0153825,65.1051633 104.098604,65.9525233 C106.080428,66.2824753 107.586092,67.7871793 107.916236,69.7654513 C108.87038,75.4895473 108.87038,81.2095153 108.87038,86.9329393 L108.870216,87.3197303 C108.870162,87.3701184 108.870089,87.4229042 108.869992,87.4780151 L108.869071,87.8360003 C108.8586,90.9137914 108.764364,99.0137926 107.916236,104.100427 C107.586092,106.080427 106.080428,107.585035 104.098604,107.914987 C99.0153825,108.764225 90.9141677,108.858584 87.8360648,108.869069 L87.4780457,108.869991 C87.42293,108.870088 87.37014,108.870161 87.3197483,108.870215 L86.5464628,108.870215 C86.4961055,108.870161 86.4433492,108.870088 86.3882664,108.869991 L86.030435,108.869069 C82.9537565,108.858584 74.8520865,108.764225 69.7654519,107.914987 C67.7874679,107.585035 66.2817079,106.080427 65.9517559,104.100427 C65.1050785,99.0137926 65.0110033,90.9137914 65.0005505,87.8360003 L65.0005505,86.0303649 C65.0110033,82.9537179 65.1050785,74.8536219 65.9517559,69.7654513 C66.2817079,67.7871793 67.7874679,66.2825713 69.7654519,65.9525233 C74.8520865,65.1051633 82.9537565,65.0110121 86.030435,65.0005509 Z M87.7850359,71.2780273 L85.9402999,71.2780273 C85.4828599,71.2780273 84.9610999,71.6219953 84.7807159,72.0422833 L84.7807159,72.0422833 L83.5519159,74.8028593 C83.3922679,75.2314993 82.9149559,75.7232113 82.4912119,75.8954353 L82.4912119,75.8954353 L82.0839799,76.0610353 C81.6603319,76.2334513 80.9691319,76.2281713 80.5481719,76.0493233 L80.5481719,76.0493233 L77.5983799,74.9896753 C77.1698359,74.8299313 76.5515959,74.9609713 76.2247159,75.2809393 L76.2247159,75.2809393 L74.9292919,76.5486193 C74.6024119,76.8683953 74.4789559,77.4755953 74.6551159,77.8977073 L74.6551159,77.8977073 L75.7795639,80.6983153 C75.9758839,81.1114033 75.9915319,81.7944433 75.8141239,82.2159793 L75.8141239,82.2159793 L75.6526519,82.5998833 C75.4753399,83.0215153 74.9810359,83.5009393 74.5542199,83.6652913 L74.5542199,83.6652913 L71.7067639,84.9512113 C71.2876279,85.1344753 70.9448119,85.6586353 70.9448119,86.1160753 L70.9448119,86.1160753 L70.9448119,87.8915953 C70.9448119,88.3489393 71.2909879,88.8655153 71.7139639,89.0393713 L71.7139639,89.0393713 L74.5582519,90.2514673 C74.9890999,90.4050673 75.4871479,90.8755633 75.6649399,91.2970033 L75.6649399,91.2970033 L75.8245879,91.6753393 C76.0022839,92.0968753 75.9962359,92.7837553 75.8109559,93.2019313 L75.8109559,93.2019313 L74.7361399,96.0634993 C74.5700599,96.4897393 74.7016759,97.1001073 75.0286519,97.4198833 L75.0286519,97.4198833 L76.3278199,98.6907313 C76.6547959,99.0105073 77.2696759,99.1328113 77.6941879,98.9626033 L77.6941879,98.9626033 L80.5738039,97.8494833 C80.9899639,97.6595953 81.6772279,97.6447153 82.1011639,97.8163633 L82.1011639,97.8163633 L82.5169399,97.9846513 C82.9408759,98.1562993 83.4274999,98.6439793 83.5982839,99.0682033 L83.5982839,99.0682033 L84.9082039,101.830891 C85.0988599,102.246667 85.6290679,102.586891 86.0864119,102.586891 L86.0864119,102.586891 L87.9311479,102.586891 C88.3884919,102.586891 88.9102519,102.242923 89.0902519,101.822347 L89.0902519,101.822347 L90.3164599,99.0622513 C90.4757239,98.6335153 90.9531319,98.1424753 91.3771639,97.9710193 L91.3771639,97.9710193 L91.7943799,97.8023473 C92.2184119,97.6308913 92.9098039,97.6372273 93.3305719,97.8162673 L93.3305719,97.8162673 L96.2716279,98.8781233 C96.6998839,99.0385393 97.3179319,98.9081713 97.6450039,98.5883953 L97.6450039,98.5883953 L98.9419639,97.3203313 C99.2690359,97.0005553 99.3922999,96.3936433 99.2158519,95.9716273 L99.2158519,95.9716273 L98.0889079,93.1705393 C97.8920119,92.7576433 97.8756919,92.0746993 98.0524279,91.6527793 L98.0524279,91.6527793 L98.2122679,91.2715633 C98.3890999,90.8497393 98.8827319,90.3698353 99.3094519,90.2051953 L99.3094519,90.2051953 L102.16334,88.9120753 C102.582188,88.7282353 102.924908,88.2036913 102.924908,87.7463473 L102.924908,87.7463473 L102.924908,85.9756273 C102.924908,85.5181873 102.578732,85.0019953 102.155564,84.8284273 L102.155564,84.8284273 L99.3135799,83.6203633 C98.8826359,83.4671473 98.3849719,82.9968433 98.2076599,82.5752113 L98.2076599,82.5752113 L98.0458999,82.1904433 C97.8687799,81.7688113 97.8754039,81.0817393 98.0608759,80.6636593 L98.0608759,80.6636593 L99.1324279,77.8001713 C99.2981239,77.3739313 99.1660279,76.7635633 98.8389559,76.4437873 L98.8389559,76.4437873 L97.5439159,75.1781233 C97.2167479,74.8584433 96.6016759,74.7358513 96.1770679,74.9059633 L96.1770679,74.9059633 L93.2938999,76.0174513 C92.8778359,76.2075313 92.1905719,76.2226993 91.7665399,76.0511473 L91.7665399,76.0511473 L91.3526839,75.8836273 C90.9285559,75.7121713 90.4419319,75.2245873 90.2711479,74.8002673 L90.2711479,74.8002673 L88.9627639,72.0341233 C88.7723959,71.6183473 88.2424759,71.2780273 87.7850359,71.2780273 L87.7850359,71.2780273 Z M86.9352439,81.9181873 C89.7669536,81.9181873 92.0625079,84.163755 92.0625079,86.9338033 C92.0625079,89.7038515 89.7669536,91.9494193 86.9352439,91.9494193 C84.1035341,91.9494193 81.8079799,89.7038515 81.8079799,86.9338033 C81.8079799,84.163755 84.1035341,81.9181873 86.9352439,81.9181873 Z"
            id="Combined-Shape" fill="#124175" fill-rule="nonzero"></path>
        </g>
      </svg>
      <div id="terugkoppeling_container"></div>
    </div>
    <svg class="oval" width="100%" viewBox="0 0 750 438" version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>ovaal</title>
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path
          d="M375,0 C582.106781,0 750,98.0496398 750,219 C750,339.95036 582.106781,438 375,438 C167.893219,438 0,339.95036 0,219 C0,98.0496398 167.893219,0 375,0 Z M365.956592,51.8842975 C273.058212,51.8842975 197.749196,127.244764 197.749196,220.206612 C197.749196,313.168459 273.058212,388.528926 365.956592,388.528926 C458.854971,388.528926 534.163987,313.168459 534.163987,220.206612 C534.163987,127.244764 458.854971,51.8842975 365.956592,51.8842975 Z M366.559486,100.14876 C433.153306,100.14876 487.138264,154.1706 487.138264,220.809917 C487.138264,287.449234 433.153306,341.471074 366.559486,341.471074 C299.965665,341.471074 245.980707,287.449234 245.980707,220.809917 C245.980707,154.1706 299.965665,100.14876 366.559486,100.14876 Z"
          id="Shape" fill="#E5F0F9"></path>
      </g>
    </svg>
  </div>
  <!-- circle -->
  <script type="text/template" id="visual_be_cricle">
    <svg class="circle" viewBox="0 0 174 174" version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>cirkel</title>
      <g id="cirkel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path
          d="M87,0 C135.048773,0 174,38.9512268 174,87 C174,135.048773 135.048773,174 87,174 C38.9512268,174 0,135.048773 0,87 C0,38.9512268 38.9512268,0 87,0 Z"
          fill="#FFFFFF" fill-rule="nonzero"
          transform="translate(87.000000, 87.000000) rotate(-90.000000) translate(-87.000000, -87.000000) ">
        </path>
        <path class="colour"
              d="M87,4.8 C128.516502,4.8 162.844332,35.5783595 168.410614,75.5622006 L146.700707,97.2705699 L123.965728,74.5355825 C118.766001,59.1089663 104.180319,48 87,48 C65.4608948,48 48,65.4608948 48,87 C48,108.539105 65.4608948,126 87,126 C108.539105,126 126,108.539105 126,87 C126,85.0427207 125.855816,83.1191173 125.57749,81.2392318 L146.7,102.362446 L168.918239,80.1450862 C169.104844,82.4053602 169.2,84.6915676 169.2,87 C169.2,132.397806 132.397806,169.2 87,169.2 C41.6021936,169.2 4.8,132.397806 4.8,87 C4.8,41.6021936 41.6021936,4.8 87,4.8 Z"
              fill-rule="nonzero"
              transform="translate(87.000000, 87.000000) rotate(-90.000000) translate(-87.000000, -87.000000) ">
        </path>
      </g>
    </svg>
  </script>
  <!-- popup -->
  <script type="text/template" id="visual_be_popup_template">
    {% verbatim %}
    <div id="visual_be_popup">
      <div class="chart_popup">
        <a class="close_popup">
          <div class="cross"></div>
        </a>
        <div class="arrow_popup"></div>
        <div class="data_head">Evaluatiestelsel en -instrumenten</div>
        <div class="data_category">
          <div class="data_name">{{name}}</div>
        </div>
        <div class="data_description">{{description}}</div>
      </div>
      <div id="visual_be_popup_info">
      </div>
    </div>
  {% endverbatim %}
  </script>
</div>