<div class="open-data-banner" style="background-image: url('{{ banner }}')"></div>
<div class="open-data-datasets" itemscope itemtype="http://schema.org/Collection">
  <div class="container">
    <h3>{{ 'Datasets' | t }}</h3>
    {{ content }}
  </div>
</div>
