{% extends 'html.html.twig' %}

{% block skip_link %}
  <a href="#block-minfinvisualblock" class="visually-hidden focusable skip-link">
    {{ 'Skip to main content'|t }}
  </a>
{% endblock skip_link %}
